$yellow-color: var(--yellow-color);
$pink-color: var(--pink-color);
$green-color: var(--green-color);
$blue-color: var(--blue-color);
$black-color: var(--black-color);
$grey-color: #9d9d9d;
$red-color: var(--red-color);
$grey-bg: #f9fafb;
@mixin rTransition($tr) {
  -webkit-transition: $tr;
  -o-transition: $tr;
  transition: $tr;
}
@mixin rTransform($trns) {
  -webkit-transform: $trns;
  -o-transform: $trns;
  transform: $trns;
}
@mixin boxShadow($sh1, $sh2) {
  -webkit-box-shadow: $sh1, $sh2;
  -o-box-shadow: $sh1, $sh2;
  -ms-box-shadow: $sh1, $sh2;
  box-shadow: $sh1, $sh2;
}
@mixin boxShadowOne($sh) {
  -webkit-box-shadow: $sh;
  -o-box-shadow: $sh;
  -ms-box-shadow: $sh;
  box-shadow: $sh;
}
@mixin objectFit($fit) {
  -o-object-fit: $fit;
  object-fit: $fit;
}
@mixin width-max-content {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
%all-section-padd {
  padding: 40px 0;
}
%absolute {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
}
%bg-overlay {
  position: relative;
  &:after {
    content: "";
    background-color: rgba(246, 246, 246, 0.8);
    width: 100%;
    height: 100%;
    @extend %absolute;
    top: 0;
  }
  .container {
    position: relative;
    z-index: 9;
  }
}
%background-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@mixin dis-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@mixin flex-dir-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@mixin flex-col-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@mixin flex-center {
  @include dis-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  @include flex-col-center;
}
%above-overlay {
  position: relative;
  z-index: 9;
}
%ellipsis {
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
%bold {
  font-family: "29LTZaridSlab-Bold";
}
%semi_bold {
  font-family: "29LTZaridSlab-SemiBold";
}
%regular {
  font-family: "29LTZaridSlab-Regular" !important;
}
@mixin overfollow_scroll {
  @include dis-flex;
  -ms-scroll-snap-type: initial;
  scroll-snap-type: initial;
  scroll-behavior: auto;
  white-space: nowrap;
  width: 100%;
  max-width: none;
  overflow: hidden;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding-bottom: 6px;
}
%clamp2 {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  min-height: 34px;
  line-height: 17px;
  margin: 0;
}
/************************ ///////// ********************/
.arrow_right,
.arrow_left {
  position: relative;
  &::before {
    content: "";
    background-repeat: no-repeat;
    background-size: auto 100%;
    position: absolute;
    top: 60px;
    width: 70px;
    height: 110px;
  }
}
.arrow_right {
  &::before {
    right: 0;
    background-image: url("../img/arrow-left.webp");
    background-position: center right;
  }
}
.arrow_left {
  &::before {
    left: 0;
    background-image: url("../img/arrow-right.webp");
    background-position: center left;
  }
}
.my_title {
  padding-top: 35px;
  margin: 0 auto 35px auto;
  text-align: center;
  position: relative;
  width: max-content;
  &::before,
  &::after {
    content: "";
    @extend %absolute;
    top: 0;
    border-bottom: 4px solid;
    border-radius: 30px;
  }
  &::before {
    border-color: $grey-bg;
    width: 130px;
  }
  &::after {
    border-color: $pink-color;
    width: 70px;
  }
  h1 {
    @extend %bold;
    margin-top: 0;
  }
  h3 {
    @extend %semi_bold;
    margin: 0;
  }
}
/********** Start First section *****************/
.first_sec {
  background: url("../img/docura-bg.webp") no-repeat center;
  background-size: 100% 100%;
  padding: 90px 0 20px 0;
}
/********** End First section *****************/
/********** Start Header section *****************/
.header {
  @include dis-flex();
  @include flex-col-center();
  min-height: 400px;
  .head_txt {
    max-width: 80%;
    h2 {
      margin: 0 0 20px 0;
      @extend %bold;
    }
    p {
      margin: 0;
      font-size: 18px;
      @extend %semi_bold;
    }
  }
  .head_off {
    align-items: flex-end;
    @include dis-flex();
    @include flex-dir-column();
    @extend %bold;
    h1 {
      margin-bottom: 0;
    }
    h2 {
      margin: 20px 0;
    }
    .btn-hvr {
      margin: 0;
    }
  }
}
/********** End Header section *****************/
/********** Start Offers Swiper *****************/
.one_offer {
  background-size: cover;
  background-position: 50%;
  min-height: 60vh;
  @include flex-center();
  @include flex-dir-column();
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  opacity: 0.6;
  background: #fff;
  &-active {
    background: #fff;
    @include rTransform(scale(1.5));
    opacity: 1;
  }
}
.swiper-button-next,
.swiper-button-prev {
  color: #fff;
}
/********** End Offers Swiper *****************/
/********** Start Most Rated Swiper *****************/
.most_rated {
  background: url("../img/docura-bg.webp") no-repeat center;
  background-size: cover;
}
.eff_market {
  margin: 0 auto;
  height: 340px;
  border-radius: 8px;
  overflow: hidden;
  @include boxShadowOne(0px 3px 4px 2px #c4c4c4);
  @extend %bg-overlay;
  &::after {
    background-color: rgba(0, 0, 0, 0.5);
    @include rTransition(transform 0.35s);
  }
  img {
    opacity: 0.9;
    @include rTransition(opacity 0.35s);
    width: 100%;
    height: 100%;
    @include objectFit(cover);
  }
  figcaption {
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 9;
    line-height: 1;
    padding: 14px;
    @include dis-flex();
    @include flex-dir-column();
    justify-content: flex-end;
    &::before {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 10px;
      background: $blue-color;
      content: "";
      @include rTransform(translate3d(0, 10px, 0));
      @include rTransition(transform 0.35s);
    }
  }
  .sect_title {
    padding: 6px 10px;
    border-radius: 30px;
    font-size: 20px;
    background-color: $blue-color;
    width: max-content;
    text-align: right;
    @include rTransform(translate3d(0, -30px, 0));
    @include rTransition(transform 0.35s);
    @extend %ellipsis;
    display: block;
    color: #fff;
    i {
      font-style: normal;
      opacity: 0;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      @include rTransform(translate3d(0, -30px, 0));
      display: none;
      color: $yellow-color;
    }
  }
  .market_name {
    @extend %bold;
    display: block;
    color: #fff;
    p {
      font-size: 21px;
      @extend %ellipsis;
      &.eng {
        letter-spacing: 1.5px;
      }
    }
    &:hover,
    &:focus {
      color: $yellow-color;
    }
  }
  &:hover {
    &::after {
      background-color: rgba(0, 0, 0, 0.34);
    }
    img {
      opacity: 0.5;
    }
    .sect_title i {
      display: inline-block;
    }
    figcaption::before,
    .sect_title,
    .sect_title i {
      @include rTransform(translate3d(0, 0, 0));
      opacity: 1;
    }
  }
}
.the_offers .eff_market {
  margin-bottom: 30px;
}
.swiper-four,
.swiper-sections {
  .swiper-button-prev,
  .swiper-button-next {
    background-color: #bcbcbc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    &::after {
      font-size: 26px;
    }
    &:hover,
    &:focus {
      background-color: $yellow-color;
    }
  }
  .swiper-button-prev {
    right: 0;
  }
  .swiper-button-next {
    left: 0;
  }
}
.emoji {
  font-size: 17px;
  span {
    vertical-align: middle;
    margin-left: 7px;
  }
}
/********** End Most Rated Swiper *****************/
/********** Start Trainings Swiper *****************/
.training1 {
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
  @include boxShadowOne(0px 3px 4px 2px #c4c4c4);
  @include rTransition(transform 0.35s);
  &:hover {
    @include rTransform(scale(0.9));
  }
}
.trn_img {
  height: 200px;
  display: block;
  img {
    width: 100%;
    height: 100%;
    @include objectFit(cover);
  }
}
.trn_body {
  padding: 10px;
  .flex-r {
    &:first-child {
      color: $grey-color;
      font-size: 18px;
    }
    &:last-child {
    }
  }
}
.sec_name {
  margin: 0;
}
.trn_title {
  @extend %bold;
  font-size: 22px;
  @extend %ellipsis;
  max-width: calc(100% - 60px);
  color: $black-color;
  background-color: transparent;
  &:hover,
  &:focus {
    color: $blue-color;
  }
}
.blu_btn {
  color: $blue-color;
  border: 2px solid $blue-color;
  background-color: transparent;
  @extend %semi_bold;
  padding: 2px 6px;
  text-transform: capitalize;
  border-radius: 8px;
  max-width: 60px;
}
button.blu_btn {
  &:hover,
  &:focus {
    background-color: $blue-color;
    color: #fff;
  }
}
.trn_owner {
  @extend %semi_bold;
  color: $pink-color;
  margin: 0;
  @extend %ellipsis;
}
.trn_price {
  @extend %semi_bold;
  margin: 0;
  span {
    vertical-align: middle;
    @extend %bold;
    margin-left: 4px;
  }
  &.free {
    color: $green-color;
  }
}
.trn_time {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  padding: 6px 3px;
  &.online {
    background-color: $pink-color;
  }
  &.in_place {
    background-color: $blue-color;
  }
}
/********** End Trainings Swiper *****************/
/********** Start Training Modals *****************/
.modal_inner {
  text-align: center;
  font-size: 20px;
  @extend %bold;
  line-height: 1;
  img {
    max-width: 100px;
    max-height: 100px;
    @include objectFit(contain);
    margin: 0 auto 20px auto;
  }
  p {
    span {
      color: $pink-color;
    }
  }
}
.will_pay {
  color: $blue-color;
}
.modal_btns {
  @include dis-flex();
  justify-content: space-around;
  margin: 20px auto 0 auto;
  .btn-hvr {
    border-radius: 8px;
    font-size: 21px;
    min-width: 120px;
    &:last-child:not(:only-child) {
      background-color: #fff;
      color: $blue-color;
      border: 2px solid $blue-color;
      &:hover,
      &:focus {
        border-color: transparent;
        color: #fff;
      }
    }
  }
}
.place_div {
  @include dis-flex();
  @include flex-dir-column();
  .btn-hvr {
    width: 100%;
    border-radius: 8px;
    max-width: unset;
    &:hover,
    &:focus {
      &::before {
        margin-top: -100%;
      }
    }
  }
}
.place_input {
  margin-bottom: 24px;
  width: 100%;
  color: $grey-color;
  border: 2px solid $grey-bg;
  padding: 14px 4px;
  @extend %ellipsis;
  span {
    margin-left: 10px;
  }
}
/********** End Training Modals *****************/
/********** Start Download *****************/
.download {
  background: url("../img/download-bg.webp") no-repeat bottom center;
  background-size: contain;
  position: relative;
  min-height: 80vh;
  @include dis-flex();
  @include flex-col-center();
  &::after {
    content: "";
    width: 60%;
    height: 100%;
    background: url("../img/docura-app2.webp") no-repeat bottom right;
    background-size: contain;
    position: absolute;
    left: 0;
    bottom: -30px;
  }
}
.driver {
  max-width: 40%;
  padding-right: 40px;
  height: 100%;
}
.title_right {
  margin-bottom: 35px;
  text-align: right;
  h2 {
    @extend %bold;
    margin-top: 0;
  }
  h4 {
    margin: 0;
  }
}
.dl_images {
  @include dis-flex();
  justify-content: center;
  width: 100%;
  a {
    flex: 1 1 0;
    img {
      width: 100%;
      height: 90%;
      @include objectFit(contain);
      @include rTransition(all 0.3s ease-in-out);
    }
    &:first-child {
      &:hover,
      &:focus {
        img {
          filter: drop-shadow(0 0 0.75rem #3c72ed);
        }
      }
    }
    &:last-child {
      &:hover,
      &:focus {
        img {
          filter: drop-shadow(0 0 0.75rem #df2c41);
        }
      }
    }
  }
}
/********** End Download *****************/
/********** Start Sections Swiper *****************/
.section1 {
  border-radius: 10px;
  @include flex-center();
  @include flex-dir-column();
  background: url("../img/food-background.webp") no-repeat center;
  background-size: cover;
  height: 140px;
  padding: 5px;
}
.sec {
  @extend %semi_bold;
}
.sec_namee {
  margin-bottom: 0;
}
/********** End Sections Swiper *****************/
/********** Start Markets *****************/
.docura_bg {
  position: relative;
  width: max-content;
  margin: 0 auto 30px auto;
  &::before {
    content: "docura";
    font-size: 8rem;
    @extend %bold;
    line-height: 0.6em;
    text-transform: uppercase;
    color: $pink-color;
    opacity: 0.12;
    z-index: -1;
    position: absolute;
    @extend %absolute;
    top: 25px;
    @include flex-center();
  }
}
/********** End Markets *****************/
/********** Start Sections *****************/
.eff_market h2.sect_title {
  @include rTransform(translate3d(0, -170px, 0));
  border-radius: 4px;
  background-color: #fff;
  color: $black-color;
}
/********** End Sections *****************/
/*********** Start Like Button *************/
.likerr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffffff;
  color: $black-color;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin: 0;
  font-size: 20px;
  border-radius: 50%;
  @include rTransition(all 0.3s ease-in-out);
  span {
    margin-left: 7px;
  }
  &.i_liked {
    background-color: $pink-color;
    color: #fff;
  }
}
.eff_market .likerr {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 9;
}
/*********** End Like Button *************/
/*********** Start Single Market Details *************/
.single_market {
  background-color: $grey-bg;
}
.single_head {
  @include dis-flex();
  justify-content: space-between;
  margin: 0 0 40px 0;
}
.markt_name {
  text-transform: capitalize;
  h2 {
    @extend %bold;
  }
  h5 {
    color: $grey-color;
  }
}
.to_comments {
  border-radius: 40px;
  border: 2px solid #e7e8e9;
  font-size: 19px;
  padding: 4px;
  display: table;
  min-width: 100px;
  background-color: #fff;
  max-width: max-content;
  span {
    margin-left: 7px;
    vertical-align: middle;
  }
  &:hover,
  &:focus {
    background-color: $blue-color;
    border-color: $blue-color;
    color: #ffffff;
  }
}
/*** right section ***/
.products_list {
  .my_title {
    text-align: right;
    margin-right: 0;
    margin-left: 0;
  }
}
.the_products {
  @include dis-flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto 30px auto;
}
.prduct_outer {
  flex: 1 1 50%;
  padding-bottom: 12px;
}
.prdct_inn {
  border: 2px solid #e7e8e9;
  padding: 10px;
  @include dis-flex;
  justify-content: space-between;
  border-radius: 10px;
  margin: 0 6px;
  height: 100%;
  background-color: #ffffff;
}
.prdct_body {
  width: calc(100% - 100px);
  display: grid;
  padding-left: 20px;
}
.prdct_name {
  @extend %bold;
}
.prdct_dtls {
  color: $grey-color;
}
.price_p {
  color: $pink-color;
  @extend %bold;
  font-size: 18px;
  margin: 0;
}
.to_cart {
  color: $blue-color;
  background-color: transparent;
  font-size: 22px;
  color: $blue-color;
  &:hover,
  &:focus {
    color: $pink-color;
  }
}
.prdct_img {
  width: 100px;
  height: 100%;
  @include flex-center();
  img {
    max-width: 100%;
    max-height: 100%;
    @include objectFit(contain);
  }
}
.cart_icon {
  font-size: 40px;
  margin: 0 auto 10px auto;
  color: $blue-color;
}
/********* quantity *******/
.number-input {
  cursor: pointer;
  @include flex-center();
  .quantity {
    background-color: transparent;
    height: 50px;
    width: auto;
    text-align: center;
    font-size: 30px;
    vertical-align: middle;
    font-weight: bold;
    border: 2px solid $pink-color;
    border-radius: 10px;
    margin: 0 20px;
  }
  .minus,
  .plus {
    font-size: 40px;
    vertical-align: middle;
    text-align: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    @include flex-col-center();
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: transparent;
    color: $pink-color;
  }
}
/*************left-cart***************/
.all_calculations {
  .left-card:last-child {
    @extend %bold;
  }
}
.left-calc {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  .summaryy {
    @extend %semi_bold;
    background-color: $black-color;
    color: #ffffff;
    margin: 0 0 20px 0;
    padding: 14px 10px;
    text-align: center;
    font-size: 20px;
  }
  .calc_body {
    padding: 20px 10px;
  }
  /*************left-card***************/
  .left-card {
    font-size: 18px;
    margin: 0 0 17px 0;
    justify-content: space-between;
    @include dis-flex();
    .left-span.red {
      color: $pink-color;
      float: left;
    }
    .delet_item {
      background-color: transparent;
      color: $grey-color;
      font-size: 20px;
      vertical-align: middle;
      &:hover,
      &:focus {
        color: $pink-color;
      }
    }
    .num_item {
      margin: 0 5px;
      display: inline-flex;
      flex-direction: row-reverse;
    }
  }
  .btn-hvr {
    border-radius: 6px;
    margin: 30px auto 0 auto;
    display: table;
    font-size: 22px;
  }
}
.calc_items {
  margin-bottom: 60px;
}
/************** comments section **************/
.comments {
  max-width: 900px;
}
.rate1 {
  @include dis-flex();
  flex-wrap: wrap;
  @include flex-col-center();
}
.rate_emo {
  background-color: $blue-color;
  color: #ffffff;
  border-radius: 10px;
  width: 160px;
  padding: 14px 4px;
  @include dis-flex();
  @include flex-dir-column();
  flex-wrap: wrap;
  @include flex-col-center();
  span {
    font-size: 40px;
  }
  h4 {
    @extend %semi_bold;
  }
  p {
    margin-bottom: 0;
  }
}
.rates {
  @include dis-flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  width: calc(100% - 200px);
  margin: 0 auto 30px auto;
}
.standard {
  flex: 1 1 50%;
  padding-bottom: 12px;
}
.standard_inn {
  padding: 10px;
  @include dis-flex;
  @include flex-dir-column();
  justify-content: space-between;
  margin: 0 6px;
  height: 100%;
  min-width: 200px;
  h4 {
    @extend %semi_bold;
    margin-top: 0;
    line-height: 1;
  }
}
.prog_inn {
  position: relative;
  padding-left: 50px;
}
.progress {
  height: 0.5rem;
}
.sr-only {
  width: 50px;
  left: 0;
  bottom: 0;
  clip: unset;
  color: $black-color;
  @extend %semi_bold;
  height: auto;
  margin: 0;
  line-height: 1;
  font-size: 18px;
  text-align: left;
}
/***** the comments ***********/
.the_comments {
  @include dis-flex();
  flex-wrap: wrap;
  @include flex-dir-column();
  padding: 50px 0 0 0;
}
.comment1 {
  @include dis-flex();
  flex-wrap: wrap;
  border: 2px solid #e7e8e9;
  flex: 1 1 0;
  border-radius: 10px;
  margin-bottom: 16px;
  background-color: #ffffff;
  padding: 14px 10px;
}
.person {
  border-radius: 50%;
  border: 2px solid #e7e8e9;
  @include flex-center();
  width: 80px;
  height: 80px;
  overflow: hidden;
  padding: 10px;
  img {
    @include objectFit(contain);
    max-width: 100%;
    max-height: 100%;
  }
}
.the_txt {
  width: calc(100% - 80px);
  padding-right: 10px;
  .emoji {
    font-size: 20px;
  }
  .the_time {
    color: $grey-color;
  }
}
.person_name {
  color: $grey-color;
}
/*********** End Single Market Details *************/
/****** ----------- Responsive --------- ***************/
@media (min-width: 768px) and (max-width: 991px) {
  .prduct_outer {
    flex: 1 1 100%;
    padding-bottom: 12px;
  }
}
@media (max-width: 767px) {
  .first_sec {
    padding: 70px 0 14px 0;
    &.breadcru_bg {
      background-size: cover;
      min-height: unset;
    }
  }
  .header {
    text-align: center;
    .head_txt {
      max-width: unset;
      h2 {
        margin: 0 0 10px 0;
      }
    }
    .head_off {
      align-items: center;
      margin: 20px auto 0 auto;
      h2 {
        margin: 10px 0;
      }
    }
  }
  .one_offer {
    min-height: 250px;
  }
  /******************/
  .my_title {
    padding-top: 20px;
    margin-bottom: 22px;
    h1 {
      font-size: 27px;
    }
    h3 {
      font-size: 20px;
    }
  }
  .eff_market {
    height: 220px;
    .sect_title {
      font-size: 15px;
    }
    .market_name p {
      font-size: 16px;
    }
  }
  /********* dowload section *************/
  .download {
    min-height: unset;
    justify-content: center;
    &::before {
      background-color: rgba(255, 255, 255, 0.5);
      width: 100%;
      height: 100%;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 0;
      background-image: none;
      z-index: 9;
    }
  }
  .driver {
    max-width: unset;
    height: auto;
    position: relative;
    z-index: 9;
    padding-right: 0;
    & > * {
      text-align: center;
    }
  }
  .eff_market h2.sect_title {
    @include rTransform(translate3d(0, -70px, 0));
  }
  /********* market .html *************/
  .single_head {
    @include flex-dir-column();
  }
  .products_list .my_title {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  .comments {
    padding-top: 50px;
    .title_right {
      text-align: center;
    }
  }
  .rate_emo {
    margin: 0 auto;
  }
  .rates {
    width: 100%;
    margin: 20px auto 30px auto;
  }
  .the_comments {
    padding: 0;
  }
}
@media (max-width: 567px) {
  .docura_bg::before {
    font-size: 50px;
  }
  .person {
    margin: 0 auto 10px auto;
  }
  .the_txt {
    width: 100%;
    padding-right: 0;
  }
}
